{% include 'header.html' %}
	<!-- Main -->
	<section id="main" class="container">
		<a name="expertise"></a>
		<section class="box special">
			<header class="major">
				<h2>Du d&eacute;veloppement web &agrave; l&apos;expertise multi-support...</h2>
				<p>Fort d&apos;une dizaine ann&eacute;es d&apos;exp&eacute;rience de d&eacute;veloppement/&eacute;tude/suivi de projet au sein de diff&eacute;rentes grandes entreprises de t&eacute;l&eacute;coms et de m&eacute;dias j&apos;ai acquis des comp&eacute;tences &agrave; la fois techniques et fonctionnelles sur les m&eacute;tiers du web et des supports natifs (iOs/Android).</p>
			</header>
		</section>
	</section>
{% include 'footer.html' %}