{% include 'header.html' %}
	<!-- Main -->
	<section id="main" class="container">
		<section class="box blog-post">
				<h2>Du d&eacute;veloppement web &agrave; l&apos;expertise multi-support...</h2>
				<div class="blog-post-details">
					<div class="blog-date">le 25 août 2015</div>
					<ul>
						<li>Gulp</li>
						<li>Web</li>
					</ul>
				</div>
				<div class="blog-post-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at eros id nisl vulputate congue non eget eros. Donec imperdiet magna non nisi convallis pellentesque. Suspendisse dictum elit id mollis condimentum. Morbi ultrices iaculis ex. Sed rhoncus consequat convallis. Phasellus bibendum sapien vitae lacinia mollis. Etiam viverra aliquam orci, non volutpat metus egestas eget. Aliquam vitae tempor turpis. Aliquam scelerisque scelerisque ligula, quis scelerisque diam maximus at. Aliquam erat volutpat. Cras id diam pellentesque, posuere nunc eget, molestie odio. Nunc turpis sapien, volutpat id dictum et, ullamcorper nec felis. Praesent sit amet nisi egestas, sagittis justo quis, blandit odio. Suspendisse ut dapibus ipsum. Praesent lobortis massa vitae risus dictum tempus. Ut vel condimentum metus.</p>
				<p>Quisque molestie scelerisque nisl, eu hendrerit urna laoreet id. Maecenas turpis elit, aliquam a suscipit nec, semper sed lacus. Sed maximus non velit ac volutpat. Duis interdum convallis massa, in vulputate sapien suscipit sit amet. Donec neque sem, mattis et sapien vitae, semper venenatis ex. Fusce ultrices diam ut massa finibus aliquet. Nulla eu ligula velit. Suspendisse ac magna non massa feugiat rutrum at eget velit.</p>
				<p>In hac habitasse platea dictumst. Mauris accumsan dolor at fermentum auctor. Sed bibendum ante vel sem faucibus fringilla. Morbi elementum, libero id molestie cursus, massa dolor faucibus turpis, sed commodo nisl ipsum ut lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et orci id ante tempor varius vitae non velit. Nulla facilisi. Curabitur lacinia nunc ut erat consectetur, non feugiat urna sollicitudin. Curabitur pellentesque, dolor non pretium fringilla, erat erat viverra lectus, vitae malesuada massa nibh sed tellus. Vestibulum tellus leo, vestibulum convallis sem at, mattis tempor diam. Phasellus accumsan porttitor libero, in aliquam purus pellentesque in.</p>
				</div>
		</section>
	</section>
{% include 'footer.html' %}