<!-- Banner -->
			<section id="banner">
				<h2><img src="dist/img/identite.png" alt="" style="vertical-align:middle;margin-right:5px;margin-top:-5px;" /> C&eacute;dric Bazureau</h2>
				<p>Chef de projet d&eacute;veloppement chez Canal+</p>
				<ul class="actions">
					<li><a href="cv.pdf" class="button special">Curriculum vitae</a></li>
					<li><a href="/#expertise" class="button">En savoir plus</a></li>
				</ul>
			</section>

		<!-- Main -->
			<section id="main" class="container">
				<a name="expertise"></a>
				<section class="box special">
					<header class="major">
						<h2>Du d&eacute;veloppement web &agrave; l&apos;expertise multi-support...</h2>
						<p>Fort d&apos;une dizaine ann&eacute;es d&apos;exp&eacute;rience de d&eacute;veloppement/&eacute;tude/suivi de projet au sein de diff&eacute;rentes grandes entreprises de t&eacute;l&eacute;coms et de m&eacute;dias j&apos;ai acquis des comp&eacute;tences &agrave; la fois techniques et fonctionnelles sur les m&eacute;tiers du web et des supports natifs (iOs/Android).</p>
					</header>
					<span class="image featured"><img src="dist/img/pic01.jpg" alt="" /></span>
				</section>
						
				<section class="box special features">
					<div class="features-row">
						<section>
							<span class="icon major fa-bolt accent2"></span>
							<h3>D&eacute;veloppement Multi-Support</h3>
							<p>Aguerri au d&eacute;veloppement d'applications web complexes PHP ou Nodejs et HTML5/JS/CSS multi-navigateurs et multi-devices en Responsive ou Adaptive Design.</p>
						</section>
						<section>
							<span class="icon major fa-area-chart accent3"></span>
							<h3>Expertise Technique</h3>
                            <p>Expert r&eacute;f&eacute;rent et reconnu dans mes diff&eacute;rentes exp&eacute;riences, je m'efforce de transmettre, de conseiller et de mettre en pratique. J'effectue &eacute;galement de la veille technologique afin de rester &agrave; la page.</p>
						</section>
					</div>
					<div class="features-row">
						<section>
							<span class="icon major fa-cloud accent4"></span>
							<h3>Comp&eacute;tences "Serveur"</h3>
							<p>Installation et param&eacute;trage des diff&eacute;rentes briques logiciels (apache, nginx, php, nodejs, mongo, ...) sous Unix, Windows, OsX. Utilisatation des interfaces AWS.</p>
						</section>
						<section>
							<span class="icon major fa-lock accent5"></span>
							<h3>Encadrement d&apos;&eacute;quipe</h3>
                            <p>A l'aise avec les languages informatiques mais aussi dans l'encadrement de petites &eacute;quipes de d&eacute;veloppement (1 &agrave; 5 personnes), les phases d'&eacute;tudes et mises en production.</p>
						</section>
					</div>
					<a name="jobs"></a>
				</section>
					
				<div class="row">
					<div class="6u">

						<section class="box special">
							<span class="image featured"><img src="dist/img/pic02.jpg" alt="" /></span>
							<h3>Canal+ (depuis 2015)</h3>
							<p>Chef de projet d&eacute;veloppement, d&eacute;veloppeur, devOps dans le cadre de la refonte du SI Canal+. J'interviens sur la brique d'orchestration pour la prise de commande ainsi que l'IHM &agrave; destination des conseillers de client&egrave;le.</p>
                            <p>Mule ESB, AngularJs, NodeJs, Apache, MongoDb, Grunt, HTML5, CSS3, Javascript</p>
							<ul class="actions">
								<li><a href="http://www.canalplus.fr/" class="button alt">En savoir plus sur Canal+</a></li>
							</ul>
						</section>
						
					</div>
					<div class="6u">

						<section class="box special">
							<span class="image featured"><img src="dist/img/pic03.jpg" alt="" /></span>
							<h3>Bouygues Telecom (2009 - 2014)</h3>
							<p>Chef de projet d&eacute;veloppement et d&eacute;veloppeur sur les sites Bouygues T&eacute;l&eacute;com ainsi que les applications smartphones (iOs et Android)
                                <br /><br /></p>
                            <p>PHP, NodeJs, Nginx, Objective C, Java Android, Oracle, RethinkDb, HTML5, CSS3, Javascript</p>
							<ul class="actions">
								<li><a href="http://www.bouyguestelecom.fr/" class="button alt">En savoir plus sur Bouygues Telecom</a></li>
							</ul>
						</section>

					</div>
					<div class="6u">

						<section class="box special">
							<span class="image featured"><img src="dist/img/pic04.jpg" alt="" /></span>
							<h3>Sopra Group (2004 - 2009)</h3>
							<p>Les 5 ann&eacute;es chez Sopra Group m'ont permis d'acqu&eacute;rir des bases solides dans le web et de pratiquer le suivi de projet chez de grands comptes.</p>
                            <p>PHP, MySQL, Java, .dotNet, HTML, CSS, Javascript</p>
                            <ul class="actions">
								<li><a href="http://www.sopra.com/" class="button alt">En savoir plus sur Sopra</a></li>
							</ul>
						</section>
						
					</div>
					<div class="6u">

						<section class="box special">
							<span class="image featured"><img src="dist/img/pic05.jpg" alt="" /></span>
							<h3>Telecom Bretagne (2004)</h3>
							<p>Diplom&eacute; en 2004 de Telecom Bretagne, &eacute;cole d&apos;ing&eacute;nieur faisant partie du concours des Mines et situ&eacute; &agrave; Plouzan&eacute; pr&egrave;s de Brest.</p>
                            <p>Bagages techniques (PHP, Java, Unix, ...)</p>
							<ul class="actions">
								<li><a href="http://www.telecom-bretagne.eu/" class="button alt">En savoir plus sur Telecom Bretagne</a></li>
							</ul>
						</section>

					</div>
				</div>

			</section>
		<!-- CTA -->
			<section id="cta">
				
				<h2>Une question, une proposition d'emploi ...</h2>
				<div style="margin:0px auto;width:200px;">
                    <a href="contact.html" id="contact" class="button alt fit">Contactez-moi !</a>
				</div>
			</section>